<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.d3code.waf.dao.SiteConfigMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_date, modify_date, status, domain, protocol_json, waf_config_json, ip_interceptor_json
    </sql>

</mapper>